<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        
        <li class="nav-item dropdown">
        <div ngbDropdown class="dropdown">
          <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
        Dropdown button
        </button>
          <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let cat of categories">
              <!-- <button ngbDropdownItem > -->
                <a *ngIf="cat.subcategory != undefined && cat.subcategory[0] != '' " ngbDropdown class="dropdown">
                  <!-- <a *ngIf="cat.subcategory == ''" class="dropdown"> -->
                  <button  ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton2" aria-expanded="false">
                  {{cat.category}}
                  </button>
                  <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton2" *ngIf="cat.subcategory != undefined && cat.subcategory[0] != ''">
                    <li *ngFor="let sub of cat.subcategory"><a ngbDropdownItem href="#">{{sub}}
                      </a>
                    </li>
                  </ul>      
                </a>
                <a *ngIf="cat.subcategory != undefined && cat.subcategory[0] == ''" >
                  <button   class="btn btn-secondary" type="button" id="dropdownMenuButton2" aria-expanded="false">
                  {{cat.category}}
                  </button>      
                </a>
            </li>
          </ul>
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item" *ngIf="!(this.loggedIn |async)">
          <a class="nav-link" routerLink="login" >Log in</a>
        </li>
        <li class="nav-item" *ngIf="!(this.loggedIn |async)">
          <a class="nav-link" routerLink="register" >Sign up</a>
        </li>
        <li class="nav-item" *ngIf="(this.loggedIn |async)">
          <a class="nav-link" routerLink="profile" >My Profile</a>
        </li>
      </ul>
      
    </div>
  </nav>
  <router-outlet></router-outlet>