<!-- app.component.html -->  
    <!-- Carousel for recipes -->
    <ngb-carousel *ngIf="recipes.length > 0" class="custom-carousel">
      <ng-template ngbSlide *ngFor="let recipe of recipes">
        <div class="carousel-item">
          <a [routerLink]="['/recipes', recipe._id]" class="d-block mx-auto">
            <img [src]="recipe.photo_url?.imagePath" alt="{{ recipe.title }}" class="carousel-image">
          </a>
          <div class="carousel-caption">
            <h3>{{ recipe.title }}</h3>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
    
    
    
  
    <div class="recommended mt-5">
      <h2 class="text-center text-danger pt-4">Προτάσεις για σήμερα</h2>
      <div class="row mt-3">
        <div class="col-md-4" *ngFor="let recipe of topRecipes" (click)="goToRecipe(recipe._id)">
          <button type="button" class="btn d-flex flex-column align-items-center">
            <img [src]="recipe.photo_url?.thumbnailPath" class="d-block w-100 mx-auto shadow-5g" alt="{{ recipe.title }}">
            <div class="recipe-details text-center mt-3">
              <h4>{{ recipe.title }}</h4>
            </div>
          </button>
        </div>
      </div>
    </div>
    
    


