

  <!-- <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="container mt-5">

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input formControlName="title" type="text" class="form-control" id="title" placeholder="Title">
    </div>
  
    <div class="mb-3">
      <label>Ingredients</label>
      <div formArrayName="ingredients">
        <div *ngFor="let ing of ingredients.controls; let i=index" class="input-group mb-3">
          <input [id]="'ingredient' + i" [formControlName]="i" type="text" class="form-control" placeholder="Ingredient name">
          <button class="btn btn-danger" (click)="removeIngredients(i)">Remove</button>
        </div>
        <button type="button" class="btn btn-primary" (click)="addIngredients()">Add ingredients</button>
      </div>
    </div>
  
    <div class="mb-3">
      <label>Equipments</label>
      <div formArrayName="equipments">
        <div *ngFor="let equip of equipments.controls; let i=index" class="input-group mb-3">
          <input [id]="'equipment' + i" [formControlName]="i" type="text" class="form-control" placeholder="Equipment name">
          <button class="btn btn-danger" (click)="removeEquipments(i)">Remove</button>
        </div>
        <button type="button" class="btn btn-primary" (click)="addEquipments()">Add equipments</button>
      </div>
    </div>
  
    <div class="mb-3">
      <label>Tags</label>
      <div formArrayName="tags">
        <div *ngFor="let tag of tags.controls; let i=index" class="input-group mb-3">
          <input [id]="'tag' + i" [formControlName]="i" type="text" class="form-control" placeholder="Tag name">
          <button class="btn btn-danger" (click)="removeTags(i)">Remove</button>
        </div>
        <button type="button" class="btn btn-primary" (click)="addTags()">Add tags</button>
      </div>
    </div>
  
    <div class="mb-3">
      <label for="preparationTime" class="form-label">Preparation Time</label>
      <input formControlName="preperation_time" type="number" class="form-control" id="preparationTime"
        placeholder="Preparation Time">
    </div>
  
    <div class="mb-3">
      <label for="cookingTime" class="form-label">Cooking Time</label>
      <input formControlName="cooking_time" type="number" class="form-control" id="cookingTime" placeholder="Cooking Time">
    </div>
  
    <div class="mb-3">
      <label for="difficulty" class="form-label">Difficulty</label>
      <input formControlName="difficulty" type="text" class="form-control" id="difficulty" placeholder="Difficulty">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->

  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="container mt-5">

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input formControlName="title" type="text" class="form-control" id="title" placeholder="Title">
      <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="text-danger">
        <div *ngIf="title?.hasError('required')">Title is required.</div>
        <div *ngIf="title?.hasError('maxLength')">Title cannot exceed 50 characters.</div>
      </div>
    </div>
  
    <div class="mb-3">
      <label>Ingredients</label>
      <div formArrayName="ingredients">
        <div *ngFor="let ing of ingredients.controls; let i=index" class="input-group mb-3">
          <input [id]="'ingredient' + i" [formControlName]="i" type="text" class="form-control"
            placeholder="Ingredient name">
          <button class="btn btn-danger" (click)="removeIngredients(i)">Remove</button>
        </div>
        <button type="button" class="btn btn-primary" [disabled]="ingredients.length != 0"
          (click)="addIngredients()">Add ingredients</button>
      </div>
    </div>
  
    <div class="mb-3">
      <label>Equipments</label>
      <div formArrayName="equipments">
        <div *ngFor="let equip of equipments.controls; let i=index" class="input-group mb-3">
          <input [id]="'equipment' + i" [formControlName]="i" type="text" class="form-control"
            placeholder="Equipment name">
          <button class="btn btn-danger" (click)="removeEquipments(i)">Remove</button>
          <div *ngIf="equip[i]?.invalid && (equip[i]?.dirty || equip[i]?.touched)"
        class="text-danger">
        <div *ngIf="equip[i]?.hasError('required')">Preparation Time is required.</div>
      </div>
        </div>
        
        <button type="button" class="btn btn-primary" 
          (click)="addEquipments()">Add equipments</button>
      </div>
    </div>
  
    <div class="mb-3">
      <label>Tags</label>
      <div formArrayName="tags">
        <div *ngFor="let tag of tags.controls; let i=index" class="input-group mb-3">
          <input [id]="'tag' + i" [formControlName]="i" type="text" class="form-control" placeholder="Tag name">
          <button class="btn btn-danger" (click)="removeTags(i)">Remove</button>
        </div>
        <button type="button" class="btn btn-primary" [disabled]="tags.length === 0" (click)="addTags()">Add tags</button>
      </div>
    </div>
    <div class="mb-3">
      <label>Tags</label>
      <div formArrayName="tags">
        <div *ngFor="let tag of tags.controls; let i=index" class="input-group mb-3">
          <input [id]="'tag' + i" [formControlName]="i" type="text" class="form-control" placeholder="Tag name">
          <button class="btn btn-danger" (click)="removeTags(i)">Remove</button>
        </div>
        <button type="button" class="btn btn-primary" [disabled]="tags.length === 0" (click)="addTags()">Add tags</button>
      </div>
    </div>
  
    <div class="mb-3">
      <label for="preparationTime" class="form-label">Preparation Time</label>
      <input formControlName="preperation_time" type="number" class="form-control" id="preparationTime"
        placeholder="Preparation Time">
      <div *ngIf="preperation_time?.invalid && (preperation_time?.dirty || preperation_time?.touched)"
        class="text-danger">
        <div *ngIf="preperation_time?.hasError('required')">Preparation Time is required.</div>
        <div *ngIf="preperation_time?.hasError('min')">Preparation Time must be greater than or equal to 0.</div>
      </div>
    </div>
  
    <div class="mb-3">
      <label for="cookingTime" class="form-label">Cooking Time</label>
      <input formControlName="cooking_time" type="number" class="form-control" id="cookingTime"
        placeholder="Cooking Time">
      <div *ngIf="cooking_time?.invalid && (cooking_time?.dirty || cooking_time?.touched)" class="text-danger">
        <div *ngIf="cooking_time?.hasError('required')">Cooking Time is required.</div>
        <div *ngIf="cooking_time?.hasError('min')">Cooking Time must be greater than or equal to 0.</div>
      </div>
    </div>
  
    <div class="mb-3">
      <label for="difficulty" class="form-label">Difficulty</label>
      <input formControlName="difficulty" type="text" class="form-control" id="difficulty" placeholder="Difficulty">
      <div *ngIf="difficulty?.invalid && (difficulty?.dirty || difficulty?.touched)" class="text-danger">
        <div *ngIf="difficulty?.hasError('required')">Difficulty is required.</div>
      </div>
    </div>

    <div class="mb-3">
        <label for="file" class="form-label">Choose File</label>
        <input formControlName="image"   type="file" id="file" (change)="onFileChange($event)" accept=".jpg, .jpeg, .png" class="form-control">
      </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="!recipeForm.valid">Submit</button>
  </form>