
  .Login-to-account {
    font-size: 25px;
    color: #131212;
  }

  .container-fluid {
    height: 100vh; /* Set container height to 100% of viewport height */
  }

  .row{
    height: 100%;
  }

  .loginbox{
    margin-top: 5%;
    margin-bottom: 20%;
    width: 380px;
  }
  .Enter-your-credentials-to-access-your-account {
    font-size: 12px;
    color: var(--korr-grey);
  }
  .form-control{
    border: solid 1px #645394;
    margin-top: 5px;
  }
  
  .form input {
    border: solid 1px #645394;
    margin: 20px;
  }
  
  .p-viewer {
    z-index: 9999;
    top: 15%;
    right: 10px;
  }
  .fa-eye{
    color: #949494;
  }
  
  .label{
    color: #000000;
    font-size: 16px;
  }
  
  .requiredUsername {
    font-size: 12px;
    color: #ec6161;
  }
  
  .errorMessage {
    font-size: 12px;
    color: #ec6161;
  }
  