<!-- Your Angular component template -->

<div class="container-fluid h-100">
  <div class="row h-100 d-flex align-items-center justify-content-center">
      <div class="card p-5 loginbox shadow-5g">
          <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <div class="position-relative mb-3">
                      <span class="label">Όνομα Χρήστη</span>
                      <input
                          type="text"
                          placeholder="Όνομα Χρήστη"
                          autocomplete="off"
                          formControlName="username"
                          class="form-control rounded"
                      />
                      <div *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched"
                          class="requiredUsername position-absolute text-left">
                          Το Όνομα Χρήστη είναι απαραίτητο
                      </div>
                  </div>

                  <span class="label mt-3">Κωδικός</span>
                  <div class="input-wrapper position-relative">
                      <input
                          [type]="hidePassword ? 'text' : 'password'"
                          placeholder="Κωδικός"
                          formControlName="password"
                          class="form-control rounded"
                          [ngClass]="errorMessage.length > 0 && loginForm.untouched ? 'invalidCredentials' : 'validCredentials'"
                      />
                      <div *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched"
                          class="requiredUsername position-absolute text-left">
                          Ο κωδικός είναι απαραίτητος
                      </div>
                      <span class="p-viewer position-absolute">
                          <a class="hide-button">
                              <i [ngClass]="hidePassword ? 'fa fa-eye ' : 'fa fa-eye-slash'" class="fa fa-eye"
                                  id="eye" (click)="passwordHide()"></i>
                          </a>
                      </span>

                  </div>
              </div>

              <div class="form-group align-self-end">
                  <div class="mb-2 mt-2 d-flex align-items-center"
                      [ngClass]="errorMessage.length > 0 && loginForm.untouched ? 'message-Error-Container' : 'message-Container'">
                      <div class="ms-1">
                          <span *ngIf="errorMessage.length > 0 && loginForm.untouched" class="errorMessage text-left">
                              {{ errorMessage }}
                          </span>
                      </div>
                  </div>

                  <button type="submit" [disabled]="loginForm.invalid && loginForm.dirty"
                      class="btn btn-primary w-100 mt-4">Login</button>
              </div>
          </form>
      </div>
  </div>
</div>
