<!-- recipePage.component.html -->
<div class="holder d-flex align-items-center justify-content-center">
    <div class="container-lg">
      <!-- Recipe Title, Image, and Rating -->
      <div class="row mb-4">
        <div class="col-lg-8">
          <img src="{{ getRecipePhoto(recipe) }}" alt="{{ recipe.title }}" class="img-fluid rounded">
          <h2 class="text-uppercase fw-weight-bold mt-3">{{ recipe.title }}</h2>
          <div class="recipe-rating">
            <span class="star">&#9733;</span>
            <span>{{ calculateAverageRating(recipe) }}</span>
          </div>
          <div class="recipe-difficulty">
            <span>{{ getRecipeDifficulty(recipe) }}</span>
          </div>
          <div class="col-lg-4 text-right" *ngIf="editPermission">
            <button type="button"  class="btn btn-primary mr-2" (click)="editReceipe(recipe._id)">Edit</button>
            <button type="button" href="#" class="btn btn-danger" (click)="deleteRecipe(recipe._id)">Delete</button>
          </div>
        </div>
      </div>
      
  
      <!-- Ingredients and Instructions -->
      <div class="row">
        <div class="col-lg-5">
          <!-- Ingredients List (aligned to the left) -->
          <div class="card rounded border-0 shadow-sm position-relative mb-4">
            <div class="card-body p-5">
              <div class="d-flex align-items-center mb-4 pb-4 border-bottom">
                <i class="far fa-calendar-alt fa-3x"></i>
                <div class="ms-3">
                  <h4 class="text-uppercase fw-weight-bold mb-0">Υλικά</h4>
                </div>
              </div>
              <div class="form-check mb-3" *ngFor="let ingredient of recipe.ingredients; let i = index">
                <input class="form-check-input" [id]="'flexCheck' + i" type="checkbox">
                <label class="form-check-label" [for]="'flexCheck' + i">
                  <span class="fst-italic pl-1">{{ ingredient }}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-7">
          <!-- Instructions -->
          <div *ngFor="let instructionSector of extendedInstructions" class="mb-4">
            <h5 class="fw-weight-bold cursor-pointer" (click)="toggleSector(instructionSector)" style="cursor: pointer;">{{ instructionSector.key }}</h5>
  
            <!-- Instructions within the sector (expanded by default) -->
            <div *ngIf="instructionSector.show" class="instructions">
              <ol>
                <li *ngFor="let instruction of instructionSector.value">{{ instruction }}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h4>Ετικέτες</h4>
      </div>
      <div class="row">
        <div>
          <ng-container *ngFor="let tag of getRecipeTags(recipe); let i = index">
            <ng-container *ngIf="i !== 0">, </ng-container>
            <button type="button" class="btn btn-link" (click)="onTagClick(tag)">{{ tag }}</button>
          </ng-container>
        </div>
      </div>
       <!-- Add more margin and lines between fields -->
       <hr class="my-4">
    </div>
  </div>

  
 <!-- Reviews Section -->
<div class="holder d-flex justify-content-center" style="min-height: 100vh;">
  <div class="container-lg">
    <h3 class="text fw-weight-bold mb-4">Αξιολογήσεις</h3>
    <div class="card" *ngFor="let review of reviews">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
          </div>
          <div class="col-md-10">
            <p>
              <strong>{{ getReviewerFullName(review)}}  </strong>
              <ng-container *ngFor="let i of generateRange(review)">
                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
              </ng-container>
            </p>
            <div class="clearfix"></div>
            <p>{{ review.text }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
    <div *ngIf="(this.authService.isLoggenIn | async) && !editPermission" class="row">
      <div class="col-md-12">
        <div class="rating-form-container mt-4">
          <form (ngSubmit)="submitReview()">
            <div class="form-group">
              <label for="rating">Βαθμολογία: </label>
              <ngb-rating [(rate)]="selectedRating" [max]="5"></ngb-rating>
            </div>
    
            <div class="form-group">
              <textarea [(ngModel)]="comments" name="comments" class="form-control"></textarea>
            </div>
    
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
